
figure {
    text-align: center;
    border: solid black 2px;
    padding: 2px;
    /*width: 250px;*/
    margin: 10px;
}

img {
    width: 250px;
    height: 150px;

}

figcaption {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2px;

}

.flexboxinterview {

    display: flex;
    justify-content: space-between;
    text-align: left;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}

.flexboxinterview2 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}


.Bildint {
    border: solid black 2px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
    justify-content: space-between;
    margin: 10px;
    text-align: center;
    display: flex;
}

.diskocon {
    display: flex;
    flex-direction: row;

}

.flexboxdiskografie {
    flex: 1;
    justify-content: space-between;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}

.flexboxdiskografie2 {
    flex: 1;
    justify-content: space-between;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}



.maincon {
    display: flex;


}

.flexboxadresse {
    flex: 1;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);

}

.flexboxpostanschrift {
    flex: 1;
    text-align: center;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);

}

.flexboxmitwirkende {
    flex: 1;
    text-align: center;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}

h1 {
    text-align: center;
}
