

.flexboxinterview {

        display: flex;
        justify-content: space-between;
        list-style: none;
        text-align: left;
        border: solid black 2px;
        margin: 10px;
        background:
            linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}

.diskografie
{
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    background-color: #D8D8DA;
    list-style: none;
}


.flexboxdiskografie2 {
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    background: linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
    ;
}

.flexboxdiskografie {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: left;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}

.flexboxinterview2{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: left;
    border: solid black 2px;
    margin: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}

.flexboxdiskografie{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align:left;
    border: solid black 2px;
    margin: 10px;
}

