<script src="../javascript/show_and_hide.js"></script>


/*Zeilenabstand wird vergrößert*/
body{
    line-height: 1.1;
}

span {
    font-weight: 700;
}


/*Angepasste Überschrift + Google Fonds*/ 
h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: 700;
    color: grey;
    text-align: center;
}

/*Anpassen der Überschrift, um den Größenunterschied zwischen Überschrift und Text etwas anzupassen*/
h2 {
    font-family: 'Cormorant Unicase', serif;    
    font-size: 20px;
    font-weight: 700;
}

/*Einzelfelder der Navigationsleiste*/
nav ul li {
    flex: 1;
    border: solid black 2px;
    padding: 5px;
    background-color: gainsboro;
    list-style: none;
    text-align: center;
}
/*Display Properties der nav Elemente*/
@media (min-width:1000px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
}

nav ul li:hover {
    background-color: aliceblue;
    color: red
}

/*Tabellen Style für Biografie*/
table {
    box-sizing: border-box;
    padding: 5px;
    border-top: solid;
    border-bottom: solid;
    margin: 15px;
}

/*Kind-Element von flex-container, stellen je eine Spalte in der Ansicht da */
.box {
    flex: 1;
    border: solid black 2px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
        padding: 10px;
    margin: 10px;
}

.box1 {
    flex: 1;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
        padding: 10px;
    margin: 10px;
}

.box2 {
     flex: 3;
    border: solid black 2px;
    margin: 10px;
    padding: 10px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
}

/*Parent-Element zu box1, box2 und box3, bei einer Minimalbreite von 1000px wird der Flexcontainer aktiviert und die zwei/drei Spalten werden in einer Spalte dargestellt */
@media (min-width:1000px) {
    .flex-container {
        display: flex;
    }
}

/*stellt den Text der Class zentriert da*/
.central{
    text-align: center;
}

ol{
    line-height: 2;
}
/*positioniert das Bild rechts im Container und schreibt den Titel vom Bild zentriert darunter*/
.rightfigure {
    float: right;
    text-align: center;
}

/*Anpassung der Buttongröße an einen kleineren Bildschirm*/
@media(max-width:1000px) {
    button {
        width: 50%;
        font-size: 20px;
    }
}

/*Einstellungen der Positionen der Bilder sowie deren Bildgröße*/
#bildstart {
    width: 300px;
    height: 110px;
}

#bildbio {
    height: 200px;
    width: 200px;
}

#bildsong {
    width: 300px;
    height: 200px;
}

.block1 {
    /* Dicke der Schrift*/
    font-weight: 600;
}

.block2 {
    /*Hintergrundfarbe und Zeilenabstand*/
    color: darkred;
}

/*IDs für die show_hide()-Funktion*/
#img1,
#img2 {
    width: 250px;
}

/*Anpassung der Bildergröße an einen kleineren Bildschirm*/
@media (max-width:1000px) {
    #img1,
    #img2,
    #bildstart,
    #bildbio,
    #bildsong{
        width: 100%;
        height: auto;
    }
}


#img3 {
    width: 250px;
}

/*Bilder der Interview Seite*/
#img4,
#img5,
#img6{
    width: 250px;
}

/*Anpassung der Bildergröße an einen kleineren Bildschirm*/
@media (max-width:1000px) {
    #img4,
    #img5,
    #img6{
        width: 100%;

    }
}

@font-face{
font-family: 'Cormorant Unicase', serif;
    src: local()
}
