h1 {
    /*Das ist unser Google-Font den wir benutzen*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Cormorant Unicase', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    color: grey;
    text-align: center;
}
@media (min-width:1000px) {
nav ul {
    display: flex;
    flex-wrap: wrap;
}
    }
nav ul li {
    flex: 1;
    border: solid black 2px;
    padding: 5px;
    background-color: gainsboro;
    list-style: none;
    text-align: center;
    
}

nav ul li:hover {
    background-color: aliceblue;
       color: red 
}

/*Tabellen Style für Biografie*/
table {
    box-sizing: border-box;
    padding: 5px;
    border-top: solid;
    border-bottom: solid;
    margin: 15px;
}

/*
.uberschrift {/* Fügt die Linie rechts vom Wort in der Suchleiste ein um diese visuell besser zu trennen*/
/*
    border-right: solid black 2px;
}*/

