body{
    line-height: 1.1;
}

/*Angepasste Überschrift + Google Fonds*/ 
h1 {
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    font-weight: 700;
    color: grey;
    text-align: center;
}

/*Anpassen der Überschrift, um den Größenunterschied zwischen Überschrift und Text etwas anzupassen*/
h2 {
    font-family: 'Cormorant Unicase', serif;    
    font-size: 20px;
    font-weight: 700;
}

/*Einzelfelder der Navigationsleiste*/
nav ul li {
    flex: 1;
    border: solid black 2px;
    padding: 5px;
    background-color: gainsboro;
    list-style: none;
    text-align: center;
}

@media (min-width:1000px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
}

nav ul li:hover {
    background-color: aliceblue;
    color: red
}

/*Tabellen Style für Biografie*/
table {
    box-sizing: border-box;
    padding: 5px;
    border-top: solid;
    border-bottom: solid;
    margin: 15px;
}

/*Kind-Element von flex-container, stellen je eine Spalte in der Ansicht da */
.box {
    flex: 1;
    border: solid black 2px;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
        padding: 10px;
    margin: 10px;
}

.box1 {
    flex: 1;
    background:
        linear-gradient(#E0FFFF 50%, #F5FFFA 73%);
        padding: 10px;
    margin: 10px;
}

/*Parent-Element zu box1, box2 und box3, bei einer Minimalbreite von 1000px wird der Flexcontainer aktiviert und die zwei/drei Spalten werden in einer Spalte dargestellt */
@media (min-width:1000px) {
    .flex-container {
        display: flex;
    }
}

/*stellt den Text der Class zentriert da*/
.central{
    text-align: center;
}