/* Das soll das Bild kleiner machne wenn der Bildschrim wie auf dem Handy kleiner wird
@media(min-width:200px) {
    .falcobeliebt{
       display: flex;
}
*/

#navigation a:hover{
    color: red
        }


nav ul {
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    background-color: #D8D8DA;
    list-style: none;
}

/*Cristina*/
.int {
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
    background-color: #D8D8DA;
    list-style: none;
    
    
}

.flexcontainer {
    /* Die Properties bedeuten, alles im FLex container wird als Flexbox definiert, Die Textblöcke sollen in Reihen dargestellt werden und bei Bildschrimverengung schmaler werdne und sich der Bildbreite anpassen*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexbox1 {
    border: solid black 1px;
    margin: 10px;
}

.flexbox2 {
    border: solid black 1px;
    margin: 10px;
}

.flexbox3 {
    border: solid black 1px;
    margin: 10px;
}

main {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    float: right;
}

#navigation {
    margin-bottom: 20px;
}

#startmain {
    
}

table {
    box-sizing: border-box;
    padding: 5px;
    border-top: solid;
    border-bottom: solid;
    margin: 15px;
}

body {
    /*Das ist unser Google-Font den wir benutzen*/
    font-family: 'Source Sans Pro', sans-serif;
}


.falcoleben {
    text-align: center;
}

/*vielleicht kann mir hier einer helfen in der html datei beliebtesongs sollen die blöcke (flexbox) nebeneinander sein also column das tun sie aber nicht die sind immer row*/
.flexcontainerbeliebt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.flexboxbeliebt1 {
    border: solid black 1px;
    padding: 10px;
    order: 1;
    margin-bottom:
}

.flexboxbeliebt2 {
    font-size: 20px;
    border: solid black 1px;
    padding: 10px;
    order: 3;
    text-align: center
}

.flexboxbeliebt3 {
    border: solid black 1px;
    padding: 10px;
    text-align: left;
    order: 2;
}
.flexcontainerstart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flexboxstart1 {
    border: solid black 1px;
}
.flexboxstart2 {
    border: solid black 1px;
    font-weight: 600;
}
.largeImage {
    
}
.block1 {
    color: darkred;
}
.block2 {
    color: darkslateblue;
}
.block3 {
    color:darkgoldenrod;
    line-height: 2;
}
#start {
    background-color:azure;
}